<div class="comment-area" id="comment-area">
  <h5>目前有<%= @post.comments.count %> 則回應</h5>
  <ul class="collection clearfix" id="comment-area">
    <%= render @post.comments %>
  </ul>
  <br> <br>
  <%= render 'comments/form' %>
</div>
