<div class="row">
    <div class="col s12 m12 l12 center">
        <div class="heading"><span class="title">實習生檔案</span></div>
        <div class="profile-container col s12 m10 l10 offset-l1 offset-m1">
            <table class="striped">
                <tbody>
                  <tr>
                    <td>姓名</td>
                    <td>陳愷奕</td>
                  </tr>
                  <tr>
                      <td>生日</td>
                      <td>1994/11/11</td>
                  </tr>
                  <tr>
                    <td>學校科系</td>
                    <td>台灣科技大學-資訊管理系</td>
                  </tr>
                  <tr>
                    <td>興趣與專長</td>
                    <td>
                        <li>專長：我很帥哦，這是我的專長，就是帥帥帥帥帥死你</li>
                        <li>興趣：平常喜歡彈鋼琴和朋友打屁聊天</li>
                    </td>
                  </tr>
                  <tr>
                      <td>職業</td>
                      <td>
                          <p>我目前還是一位在台北努力生存的大學生哦！對社會上、職場上的問題都還不熟悉。</p>
                      </td>
                  </tr>
                  <tr>
                      <td>最近的困擾</td>
                      <td>
                        <p>一直以來我的困擾就是太帥了，女生看到我都會主動貼上來，害我都不知道怎麼辦了才好。如果你有好方法的話，還請你教教我</p>
                      </td>
                  </tr>
                  <tr>
                      <td>夢想、未來目標</td>
                      <td>
                          <p>
                              未來希望能夠到世界各地旅行，成為舉世聞名的帥哥。
                          </p>
                      </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
